{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}qGeoidCOL{% endblock %}</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'dataentry/styles.css' %}">
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">qGeoidCOL</a>
          
            <div>
                <ul class="navbar-nav mr-auto">

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                    </li>

                    {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'salir' %}">Salir</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'entrar' %}">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro' %}">Registro</a>
                        </li>
                        
                    {% endif %}
                    
                </ul>
            </div>
        </nav>
        
        <div class="body">

            <br>
            <h2>Esta es la versión web de qGeoidCOL</h2>

            {% block body %}
            {% endblock %}

        </div>

    </body>
</html>